<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 查询条件开始-->

<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form" >
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">公告标题</label>
                    <div class="layui-input-inline">
                        <!--隐藏域,用于存储id做修改操作-->
                        <input type="hidden" name="id">
                        <input type="text" name="title" id="title" class="layui-input searchVal" placeholder="请输入公告标题" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">发布人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="opername" id="opername" class="layui-input searchVal" placeholder="请输入发布人" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" readonly name="startTime" id="startTime" class="layui-input searchVal" placeholder="开始时间" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" readonly name="endTime" id="endTime" class="layui-input searchVal" placeholder="结束时间" />
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                    <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
                </div>
            </div>
        </form>
    </blockquote>
</form>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="noticeTable" lay-filter="noticeTable"></table>
    <!-- 头部工具栏 -->
    <div id="noticeToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>添加公告</button>
        <button type="button" lay-event="batchDelete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
    </div>
    <!--行内工具栏-->
    <div id="noticeRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-edit"></span>更新</button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
        <button type="button" lay-event="show" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-about"></span>查看</button>
    </div>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->

<div  style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form class="layui-form" style="width:80%;" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">公告标题</label>
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <input type="text" class="layui-input" name="title"  lay-verify="required" placeholder="请输入标题">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">公告内容</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入公告内容" name="content" id="content" class="layui-textarea userDesc"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 添加和修改的弹出层结束 -->

<!-- 查看弹出层的开始 -->
<div style="display: none;padding: 5px" id="showNoticeDiv">
    <h2 id="show_title" align="center"></h2>
    <div style="text-align: right;margin: 10px">
        <span>发布人:<span id="show_opername"></span></span>
        <span style="padding-left: 20px">发布时间:<span id="show_createtime"></span></span>
    </div>
    <hr>
    <div id="show_content" style="margin: 10px;padding: 10px;line-height: 25px;"></div>

</div>
<!-- 查看弹出层的结束-->



<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery','form','table','layer','laydate','layedit'],function () {
        var $=layui.jquery;
        var form=layui.form;
        var table=layui.table;
        var layer=layui.layer;
        var laydate=layui.laydate;
        var layedit=layui.layedit;
        //初始化时间选择器
        laydate.render({
            elem:'#startTime',//绑定渲染的元素
            type:'datetime'//控件选择类型
        });
        laydate.render({
            elem:'#endTime',//绑定渲染的元素
            type:'datetime'//控件选择类型
        });

        //表格加载数据
        var tableIns=table.render({
            elem:'#noticeTable'
            ,url:'/sys/notice/noticeList'
            ,toolbar:'#noticeToolBar'//开启头部工具栏,并为其绑定左侧模板
            ,title:'公共数据表'
            ,height:'full-170'
            ,page:'true'
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID',align:'center',width:60}
                ,{field:'title', title:'标题',align:'center'}
                ,{field:'content', title:'内容',align:'center'}
                ,{field:'opername', title:'发布人',align:'center'}
                ,{field:'createtime', title:'发布时间',align:'center'}
                ,{fixed:'right', title:'操作',toolbar:'#noticeRowBar',align:'center',width:300}
            ] ]
            //回调函数
            ,done:function (res,curr,count) {
                //判断当前页码是否大于1
                if(curr>1 && res.data.length==0){
                    //当前页码减1
                    var pageValue=curr-1;
                    tableIns.reload({
                        page:{
                            curr:pageValue//修改页码
                        }
                    })
                }
            }
        });


        //模糊查询
        form.on("submit(doSearch)",function (data) {
            tableIns.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
        })

        //监听行工具栏事件
        table.on("tool(noticeTable)",function (obj) {
            //获取当前行数据
            var data=obj.data;
            switch(obj.event){
                case 'update':
                    //调用打开修改通知窗口
                    openUpdateNoticeLayer(data);
                    break;
                case 'delete':
                    deleteInfo(data);
                    break;
                case 'show':
                    showNotice(data);
                    break;
            }
        });

        //监听数据表格工具栏事件
        table.on('toolbar(noticeTable)',function (obj) {
            switch(obj.event){
                case 'add':
                    //调用打开添加窗口的方法
                    openAddNoticeLayer();
                    break;
                case 'batchDelete':
                    //调用批量删除的方法
                    batchDelete();
                    break;

            };
        });
        var mainIndex;//弹出层索引
        var url;//提交路径
        var editIndex;//初始富文本编辑器

        /**
         * 打开添加公告窗口
         */
        function openAddNoticeLayer() {
            mainIndex=layer.open({
                type:1,//弹出层类型,0 信息框 默认 1 页面层 2 iframe层 3 加载曾 4 tips层
                content:$("#addOrUpdateDiv"),//弹出层内容
                area:['800px','500px'],//弹出层宽高
                title:'发布公告',//弹出层标题
                //回调函数
                success:function () {
                    //每次打开窗口清空表单内容
                    $('#dataFrm')[0].reset();//清空表单
                    layedit.setContent(editIndex,"");//清空富文本编辑器
                    url="/sys/notice/addNotice";
                }
            });
            //初始化富文本编辑器
            editIndex=layedit.build('content');
        }
        /**
         * 打开修改公告窗口
         */
        function openUpdateNoticeLayer(data){
            mainIndex=layer.open({
                type:1,//弹出层类型,0 信息框 默认 1 页面层 2 iframe层 3 加载曾 4 tips层
                content:$("#addOrUpdateDiv"),//弹出层内容
                area:['800px','500px'],//弹出层宽高
                title:'更新公告',//弹出层标题
                //回调函数
                success:function () {
                    //打开窗口回显原有的数据
                    form.val("dataFrm",data);
                    layedit.setContent(editIndex,data.content);
                    url="/sys/notice/updateNotice";
                }
            });
        }

        /**
         * 删除公告
         */
        function deleteInfo(data){
            layer.confirm("确定要删除这条数据吗?",{"icon":3,"title":"提示"},function (index) {
                $.post("/sys/notice/deleteById",{"id":data.id},function (result) {
                    if(result.success){
                        //删除成功重新加载表格是数据
                        tableIns.reload();
                    }
                    layer.msg(result.message);
                },"json");
                //关闭弹框
                layer.close(index);
            });
        }

        /**
         * 提交事件
         */
        form.on("submit(doSubmit)",function (data) {
            //同步富文本编辑器的内容到textarea中
            layedit.sync(editIndex);
            //提交
            $.post(url,$('#dataFrm').serialize(),function (result) {
                if(result.success){
                    //重载表格数据
                    tableIns.reload();
                }
                //弹框提示
                layer.msg(result.message);
                //关闭弹出层
                layer.close(mainIndex);
            },"json");
            return false;
        })
        /**
         * 批量删除
         */
        function batchDelete() {
            //获取当前选中行
            var checkStatus=table.checkStatus('noticeTable');
            //判断是否有选中行
            var length=checkStatus.data.length;
            //选中行大于0,提示删除
            if(length>0){
                layer.confirm("确定要删除这"+length+"条公告吗?",{icon:3,title:'提示'},function (index) {
                    //获取选中的公告数据
                    var data=checkStatus.data;
                    var idArr=[];
                    for (var i=0;i<length;i++){
                        idArr.push(data[i].id);
                    }
                    //id数组
                    var ids=idArr.join(",");
                    $.post("/sys/notice/batchDelete",{"ids":ids},function (result) {
                        //判断是否删除成功
                        if(result.success){
                            tableIns.reload();
                        }
                        //删除后的提示信息
                        layer.msg(result.message);
                    },"json");
                    //关闭删除确认框
                    layer.close(index);
                })
            }else{
                layer.alert("请选择要删除的行!",{icon:0})
            }

        }

        /**
         * 查看公告
         */
        function showNotice(data) {
            mainIndex=layer.open({
                type:1,//弹出层类型,0 信息框 默认 1 页面层 2 iframe层 3 加载曾 4 tips层
                content:$('#showNoticeDiv'),//弹出层内容
                area:['800px','500px'],//弹出层宽高
                title:'查看公告',//弹出层标题
                //回调函数
                success:function () {
                    $("#show_title").html(data.title);
                    $("#show_content").html(data.content);
                    $("#show_createtime").html(data.createtime);
                    $("#show_opername").html(data.opername);
                }
            });
        }
    });
</script>
</body>
</html>